@import 'normalize';
@import 'global';
@import 'colors';

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Libre Franklin',
        sans-serif;
    font-size: 20px;
}

/* container max width -------------------  */
.container {
    margin: 0 auto;
    max-width: 1000px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 5%;
}

header {
    padding: 3rem 0 1rem 0;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    h1 {
        font-weight: 300;
        font-size: 4rem;
        color: $text_collor;
        padding-bottom: 1rem;
        
            @media screen and (max-width:768px) {
                font-size: 1.5rem;
            }
            
            
            strong {
                font-weight: 700;
                color: $heading_color;
            }
        }
        p{
            @media screen and (max-width:768px) {
                font-size: 1rem;
            }
            
    }
}

.form {
    position: relative;
    padding-bottom: 5rem;

    form {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;

        
        input {
            border-radius: 2rem;
            line-height: 4rem;
            padding: 0 2rem;
            @media screen and (max-width:768px) {
                padding: 0 1rem;
                line-height: 3rem;
            }
        }

        input[type="email"] {
            border: 1px solid $placeholde_border;
            flex: 1 1 60%;

            @media screen and (max-width:536px) {
                // flex: 0 ;
                order: 1;
            }

            &::placeholder {
                color: $placeholde_border;
            }

        }

        input[type="submit"] {
            flex: 1 1 20%;
            color: #fff;
            font-weight: 600;
            background-color: $button_color;
            box-shadow: 0px 5px 20px 2px hsla(223, 87%, 63%, 0.517);
            cursor: pointer;

            @media screen and (max-width:536px) {
                order: 3;
            }

            &:hover {
                background-color: hsla(223, 87%, 63%, 0.724);
            }
        }
    }
}

.links,
.footer-cop {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.image {
    margin-bottom: 5rem;
    max-width: 80%;
}

.links {
    gap: 1rem;

    margin-bottom: 2rem;

    a {
        transition: all ease-in-out 0.3s;
        box-shadow: 0px 0px 2px 2px $placeholde_border;
        border-radius: 50%;
        padding: 0.5rem;

        svg {
            height: 18px;
            width: 18px;

            path {
                fill: $button_color;
            }
        }

        &:hover {
            // transition: all ease-in-out 0.3s;
            background-color: $button_color;
            box-shadow: inset 0px 0px 4px 2px $placeholde_border;

            path {
                fill: #fff;
            }
        }

    }
}


.footer-cop {
    color: $text_collor;
    font-size: 1rem;
    margin-bottom: 2rem;
}

footer {
    padding-bottom: 1rem;
}

// form errors messages 
input[type="email"] {
    border: 2px solid $error_color;
}

.emsg {
    // display: none;
    // margin-top: 1rem;
    margin-left: 2rem;
    position: relative;
    color: $error_color;
    font-weight: bold;
    font-size: 18px;
    font-weight: 400;
    width: 100%;

    @media screen and (max-width:536px) {
        order: 2;
        margin: 0 auto;
        text-align: center;
    }
}